 <div>
          <p>{{description}}</p>
        </div>
        <div class="form-group">
          {{input type="text" class="form-control" value=textField1 disabled="disabled"}}
        </div>
        <div class="form-group">
          {{input type="text" class="form-control" value=textField2 disabled="disabled"}}
        </div>
        <div class="form-group">
          {{input type="text" class="form-control" value=textField3 disabled="disabled"}}
        </div>
        <div class="form-group">
          {{input type="text" class="form-control" value=textField4 disabled="disabled"}}
        </div>
        <div class="form-group">
          {{textarea class="form-control" value=textArea1 disabled="disabled"}}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>